<div class="box-pages">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a routerLink="/portfolio-view">Portfolio Listing</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            <span *ngIf="isNew">New portfolio item</span>
            <span *ngIf="!isNew">Edit portfolio</span>
        </li>
      </ol>
    </nav>

    <div class="page-content">
      <div class="row">
          <div class="col col-md-8">

              <form class="edit-form" [formGroup]="portfolioForm" novalidate (ngSubmit)="onSubmit(portfolioForm.value)">


                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Basic information
                      </mat-panel-title>
                      <mat-panel-description>
                        Name and Description
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <div class="form-group">
                      <mat-form-field class="input-style">
                        <input matInput placeholder="Name" class="form-control" formControlName="name">
                      </mat-form-field>
                      <ng-container *ngFor="let validation of validationMessages.name">
                        <mat-error *ngIf="portfolioForm.get('name').hasError(validation.type) && (portfolioForm.get('name').dirty || portfolioForm.get('name').touched)">{{validation.message}}</mat-error>
                      </ng-container>
                    </div>

                    <div class="form-group">
                      <mat-form-field class="input-style">
                        <input matInput placeholder="Description" class="form-control" formControlName="desc">
                      </mat-form-field>
                      <ng-container *ngFor="let validation of validationMessages.desc">
                        <mat-error *ngIf="portfolioForm.get('desc').hasError(validation.type) && (portfolioForm.get('desc').dirty || portfolioForm.get('desc').touched)">{{validation.message}}</mat-error>
                      </ng-container>
                    </div>

                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Details
                      </mat-panel-title>
                      <mat-panel-description>
                        Price
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                        <div class="form-group">
                          <mat-form-field class="input-style">
                            <input matInput placeholder="Price" class="form-control" formControlName="price">
                          </mat-form-field>
                          <ng-container *ngFor="let validation of validationMessages.price">
                            <mat-error *ngIf="portfolioForm.get('price').hasError(validation.type) && (portfolioForm.get('price').dirty || portfolioForm.get('price').touched)">{{validation.message}}</mat-error>
                          </ng-container>
                        </div>
                  </mat-expansion-panel>
                </mat-accordion>



                  <div class="card">
                    <div class="card-body">
                      <div class="row submit-button-container">
                        <div class="col-md-4" *ngIf="isNew">
                          <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!portfolioForm.valid">Insert</button>
                        </div>
                        <div class="col-md-4" *ngIf="!isNew">
                          <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!portfolioForm.valid">Update</button>
                        </div>
                        <div class="col-md-4" *ngIf="!isNew" >
                          <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
                        </div>
                        <div class="col-md-4">
                          <button mat-raised-button class="btn btn-secondary"   type="button" (click)="cancel()">Cancel</button>
                        </div>
                      </div>                      
                    </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
</div>
