
<div class="content-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Portfolio listing</li>
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/portfolio-new">Add portfolio</a></li>
    </ol>
  </nav>

	<div class="card">
		<div class="card-header">
      <span class="card-title">Filter by price (<span>0 </span> to <span>2500</span>):</span>
      Displaying items more expensive or equals to ${{ selectedPrice }}
    </div>
		<div class="card-body">
      <div class="row">
        <div class="col filter-by-price">
          <div class="row">
            <div class="col">
              <mat-slider
                class="age-price"
                max="2500"
                min="0"
                showTicks="true"
                autoTicks="false"
                tickInterval="50"
                step="50"
                thumbLabel="true"
                (ngModel)="priceValue"
                (change)="getPorfolioByPrice($event)">
              </mat-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="list-group items-list">
      <span *ngIf="noElementsMessage" style="text-align: center;">No items found according to the provided filter.</span>
      <div *ngFor="let portfolioItem of portfolioItems" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
          <div class="col col-md-8 text-col">
            <h3 class="mb-3">{{portfolioItem.payload.doc.data().name}}</h3>
            {{portfolioItem.payload.doc.data(value).desc}}
            <h4 class="mb-3"><small>Price ($): {{portfolioItem.payload.doc.data(value).price}}</small></h4>
          </div>
          <div class="col col-md-2 actions-col">
            <button class="btn btn-outline-primary action" (click)="viewPortfolioDetails(portfolioItem)" type="button">
              <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>