
<div class="content-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Portfolio listing</li>
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/new-portfolio">Add portfolio</a></li>
    </ol>
  </nav>

  <div class="page-content">
    <div class="list-group users-list">
      <div *ngFor="let portfolioItem of portfolioItems" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
          <div class="col col-md-8 text-col">
            <h3 class="mb-3">{{portfolioItem.payload.doc.data().name}}</h3>
            {{portfolioItem.payload.doc.data(value).desc}}
            <h4 class="mb-3"><small>Price ($): {{portfolioItem.payload.doc.data(value).price}}</small></h4>
          </div>
          <div class="col col-md-2 actions-col">
            <button class="btn btn-outline-primary action" (click)="viewPortfolioDetails(portfolioItem)" type="button">
              <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
            </button>
            <button class="btn btn-outline-primary action" (click)="viewPortfolioDetails_2(portfolioItem)" type="button">
              <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
            </button>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>