<div class="modal-header">
	<h4 class="modal-title pull-left"> {{ modalMainMessage }} </h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
	<div class="card">
		<div class="card-header">
			{{ modalSecondaryMessage }}
		</div>
		<div class="card-body">
		  <h5 class="card-title"></h5>
		  <p class="card-text">{{ itemToBeDeleted }}</p>
		  <a (click)="delete()" class="btn btn-danger">Delete item</a>
		  <a (click)="cancel()" class="btn btn-primary">Cancel</a>
		</div>
	  </div>

</div>