<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">......</p>
          <a href="#" class="btn btn-primary">Manage About items</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Services</h5>
          <p class="card-text">......</p>
          <a href="#" class="btn btn-primary">Manage service items</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Team</h5>
          <p class="card-text">......</p>
          <a href="#" class="btn btn-primary">Manage Team items</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Portfolio</h5>
          <p class="card-text">......</p>
          <a class="btn btn-primary" routerLink="/portfolio-view" title="portfolio view">Manage Portfolio items</a>
        </div>
      </div>
    </div>
  </div>