<div class="box-pages">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/service-view">Service Listing</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <span *ngIf="isNew">New service item</span>
        <span *ngIf="!isNew">Edit service</span>
      </li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-8">
        <form class="edit-form" [formGroup]="serviceForm" novalidate (ngSubmit)="onSubmit(serviceForm.value)">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Basic information</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Name" class="form-control" formControlName="title">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.title">
                  <mat-error
                    *ngIf="serviceForm.get('title').hasError(validation.type) && (serviceForm.get('title').dirty || serviceForm.get('title').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Description" class="form-control" formControlName="description">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.description">
                  <mat-error
                    *ngIf="serviceForm.get('description').hasError(validation.type) && (serviceForm.get('description').dirty || serviceForm.get('description').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Font awesome Icon" class="form-control" formControlName="fontawesomeIcon">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.fontawesomeIcon">
                  <mat-error
                    *ngIf="serviceForm.get('fontawesomeIcon').hasError(validation.type) && (serviceForm.get('fontawesomeIcon').dirty || serviceForm.get('fontawesomeIcon').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <p></p>
          <div class="card">
            <div class="card-body">
              <div class="row submit-button-container">
                <div class="col-md-4" *ngIf="isNew">
                  <button mat-raised-button class="submit-button" color="primary" type="submit"
                    [disabled]="!serviceForm.valid">Insert</button>
                </div>
                <div class="col-md-4" *ngIf="!isNew">
                  <button mat-raised-button class="submit-button" color="primary" type="submit"
                    [disabled]="!serviceForm.valid">Update</button>
                </div>
                <div class="col-md-4" *ngIf="!isNew">
                  <button mat-raised-button class="delete-button" color="warn" type="button"
                    (click)="delete()">Delete</button>
                </div>
                <div class="col-md-4">
                  <button mat-raised-button class="btn btn-secondary" type="button" (click)="cancel()">Go to service listing</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row submit-button-container d-flex justify-content-center">
          <div *ngIf="showMessage"  class="alert alert-success" role="alert">{{message}}</div>
        </div>
      </div>
    </div>
  </div>
</div>