<div class="box-pages">
  <div class="page-content">
  <mat-tab-group>
    <mat-tab label="Home">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Administration</h5>
          <p class="card-text">......</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Portfolio">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Portfolio</h5>
            <p class="card-text">......</p>
            <a class="btn btn-primary" routerLink="/portfolio-view" title="portfolio view">Manage portfolio items</a>
            |
            <a class="btn btn-primary" routerLink="/portfolio-new" title="New portfolio item">Add a new portfolio item</a>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Services">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Services</h5>
          <p class="card-text">......</p>
          <a class="btn btn-primary" routerLink="/service-view" title="service view">Manage Service items</a>
            |
            <a class="btn btn-primary" routerLink="/service-new" title="New service item">Add a new service item</a>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="About items">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About items</h5>
          <p class="card-text">......</p>
          <a class="btn btn-primary" routerLink="/about-view" title="about view">Manage About items</a>
            |
            <a class="btn btn-primary" routerLink="/about-new" title="New about item">Add a new about item</a>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>