
<div class="content-page">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Service listing</li>
        <li class="breadcrumb-item active" aria-current="page"><a routerLink="/service-new">Add a new service</a></li>
      </ol>
    </nav>
    <div class="page-content">
      <div *ngIf="loading" class="alert alert-success" role="alert">Processing</div>
      <div *ngIf="loading" class="alert alert-info" role="alert">{{message}}</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center">Description</th>
            <th scope="colgroup" colspan="2" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of serviceItems">
            <th scope="row">{{service.title}}</th>
            <td> {{service.description}}</td>
            <td><button mat-raised-button class="submit-button" color="primary" type="submit" (click)="viewServiceDetails(service._id)"
              title="Edit '{{service.title}}'">Edit</button></td>
            <td><button mat-raised-button class="submit-button" class="delete-button" color="warn" (click)="deleteItem(service._id)"
              title="Delete '{{service.title}}'">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>